@import 'handsontable/dist/handsontable.full.min.css';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: block; /* important si jamais flex était appliqué par erreur */
}