/* Styles de base pour l'éditeur */
.tiptap {
    outline: none !important;
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
}

/* Styles des titres */
.tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5 {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 0.75em !important;
}

.tiptap h1 {
    font-size: 32px !important;
}

.tiptap h2 {
    font-size: 27px !important;
}

.tiptap h3 {
    font-size: 24px !important;
}

.tiptap h4 {
    font-size: 22px !important;
}

.tiptap h5 {
    font-size: 20px !important;
}

.tiptap p {
    font-size: 16px !important;
}

/* Styles des listes */
.tiptap ul[data-type="bulletList"] {
    list-style-type: disc !important;
}

.tiptap ul[data-type="dashList"] {
    list-style-type: "-" !important;
}

/* Styles pour les tableaux */
.tiptap table {
    border-collapse: collapse !important;
    margin: 0 !important;
    overflow: hidden !important;
    table-layout: fixed !important;
    width: 100% !important;
}

.tiptap td, .tiptap th {
    border: 1px solid #ced4da !important;
    box-sizing: border-box !important;
    min-width: 1em !important;
    padding: 3px 5px !important;
    position: relative !important;
    vertical-align: top !important;
}

.tiptap th {
    background-color: #f1f3f5 !important;
    font-weight: bold !important;
    text-align: left !important;
}

/* Styles pour les images */
.tiptap img {
    max-width: 100% !important;
    height: auto !important;
}

/* Styles pour les liens */
.tiptap a {
    color: #68cef8 !important;
    text-decoration: underline !important;
}

/* Styles pour les tâches */
.tiptap ul[data-type="taskList"] {
    list-style: none !important;
    padding: 0 !important;
}

.tiptap ul[data-type="taskList"] li {
    display: flex !important;
    align-items: center !important;
}

.tiptap ul[data-type="taskList"] li > label {
    margin-right: 0.5rem !important;
    user-select: none !important;
}

.tiptap ul[data-type="taskList"] li > div {
    flex: 1 !important;
}

/* Styles pour l'impression */
@media print {
    /* Masquer tous les éléments non nécessaires */
    .print\\:hidden {
        display: none !important;
    }

    /* Afficher uniquement l'éditeur */
    .tiptap {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Assurer que les marges sont correctement appliquées en mode impression */
    .tiptap {
        padding: 40px 75px !important;
    }
} 